.content-wrap {
	@include breakpoint(max-width 576px) {
		max-width: 100vw;
		width: 100vw;
	}

	.header__nav {
	@include breakpoint(max-width 992px) {
		position: absolute;
		width: 50%;
		height: 60px;
	}

	@include breakpoint(max-width 576px) {
		width: 100vh;
	}

	#nav-icon1 {
		width: 45px;
		height: 40px;
		position: relative;
		left: 15px;
		margin: 16px 0;
		transform: rotate(0deg);
		transition: 0.5s ease-in-out;
		cursor: pointer;
		
		@include breakpoint(min-width 993px) {
			display: none;
		}

		@include breakpoint(max-width 992px) {
			display: block;
		}

		&.open {
			span:nth-of-type(1) {
				top: 18px;
				transform: rotate(135deg);
			}
		}
			

		&.open {
			span:nth-of-type(2) {
				opacity: 0;
				left: -60px;
			}
		}

		&.open {
			span:nth-of-type(3) {
				top: 18px;
				transform: rotate(-135deg);
			}
		}

		span {
			display: block;
			position: absolute;
			height: 4px;
			width: 95%;
			background: #fafafa;
			border-radius: 9px;
			opacity: 1;
			left: 0;
			transform: rotate(0deg);
			transition: 0.25s ease-in-out;
			&:nth-of-type(1) {
				top: 0px;
			}

			&:nth-of-type(2) {
				top: 13px;
			}

			&:nth-of-type(3) {
				top: 26px;
			}
		}	
	}

	.header__nav-menu {
		@include breakpoint(max-width 992px) {
			visibility: hidden;
		}
	}

	.expand {
		width: 100%;
		position: absolute;
		top: 60px;
		flex-wrap: wrap;
		background-color: rgba(90,51,125,0.9);
		transition: all 0.5s;
		visibility: visible;
		overflow-y: hidden;
		z-index: 2;
		@include breakpoint(min-width 576px) {
			width: 200px;
		}
	}
}
}