.content-wrap.new {
	flex-wrap: wrap;
	min-height: calc(100vh - 270px);
	h2 {
		width: 100%;
		font-family: $gil-regular;
		font-weight: normal;
		font-size: 30px;
		@include breakpoint(max-width 1200px) {
			text-align: center;
		}

		@include breakpoint(max-width 576px) {
			margin-left: 15px;
		}
	}

	.news__content {
		display: flex;
		/*justify-content: space-between;*/
		align-items: center;
		flex-wrap: wrap;
		@include breakpoint(max-width 1200px) {
			justify-content: space-around;
		}

		.news__content-container {
			max-width: 370px;
			width: 90vw;
			margin-right: 30px;
			margin-bottom: 50px;
			font-family: $gil-regular;
			&:nth-child(3n) {
				margin-right: 0;
			}
			.news__img {
				max-width: 370px;
				width: 85vw;
				&:hover, &:active, &:focus {
					opacity: 0.8;
				}
			}

			.news__title a {
				margin: 20px 0 0;
				font-family: $gil-semibold;
				font-weight: normal;
				font-size: 24px;
				color: #282828;
				transition: all 0.2s;
				&:hover, &:active, &:focus {
					text-decoration: underline;
					opacity: 0.8;
					transition: all 0.2s;
				}
			}

			.news__describe {
				margin-bottom: 0;
				font-size: 18px;
			}

			.news__more a {
				font-size: 16px;
				color: #afafaf;
				&:hover, &:active, &:focus {
					text-decoration: underline;
				}
			}
		}
	}
}