$logo: 'Museo Cyrl', sans;

$sans: 'Open Sans', sans-serif;

$gil-light: 'Gilroy-Light', sans-serif;

$gil-medium: 'Gilroy-Medium', sans-serif;

$gil-regular: 'Gilroy-Regular', sans-serif;

$gil-semibold: 'Gilroy-Semibold', sans-serif;

$lato: 'Lato', sans-serif;

$auto: 0 auto;

$purple: #5a337d;

$purple-hover: #3f225a;



html{
    width: 100%;
    height: 100%;
}

body{
    margin: 0;
    padding: 0;
    border: 0;
    font-weight: inherit;
    font-style: inherit;
    font-family: inherit;
    text-align: left;
    vertical-align: baseline;
}



a {
    text-decoration: none;
    &:hover, &:focus, &:active{
        text-decoration: none;
    }
}

h2, h3, h4 {
    margin: 20px 0;
}

input{
    outline: none;
    &:hover, &:focus, &:active{
        outline: none;
    }
}

textarea{
    outline: none;
    &:hover, &:focus, &:active{
        outline: none;
    }
}

%clearfix {
    *zoom: 1;
    &:after {
        content: '';
        display: table;
        line-height: 0;
        clear: both;
    }
}

.content-wrap {
    max-width: 1170px;
    width: 100%;
    height: 100%;
    margin: $auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include breakpoint(max-width 1170px) {
        max-width: 95vw;
        width: 90vw;
    }
}

.align-start {
    align-items: flex-start;
    flex-wrap: wrap;
}

.decisions-act,
.products-act,
.about-act,
.download-act,
.product-act,
.news-act,
.contacts-act {
    background-color: #7d4bab;
}
